.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.flex-column {
  display:flex;
  flex-direction: column;
}



.submitButton {
  border-radius: .75rem;
  background-color: green;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  margin: 1rem 2rem;
}