.input {
    display: flex;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
  }
.input-label {
    padding: 0 .5rem;
    margin: 0 1rem 0 0;
    width: 3rem;
    text-align:end;
}

.input-textField input {
    font-size: 1rem;
    padding: 0rem 0.5rem;
    width: 20rem;
    border-radius: .7rem;
    border: 1px grey solid;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    height: 2rem;
    border-radius: 1rem;
    border: 0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
}
.deleteButton {
    background-color: red;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    width: 1.5rem;
    height:1.5rem;
    padding: none;
    text-align: center;
}
.deleteButton-text {
    margin:auto;
    font-size: .8rem;
}
