.input {
    display: flex;
    background-color: #F8F8F8;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
  }
.input-label {
    padding: 0 .5rem;
    width: 3rem;
    text-align:end;
}
.input-textField {
    padding: 0 .5rem;
}
.deleteButton {
    background-color: red;
    font-weight: 600;
    border-radius: 3rem;
    cursor: pointer;
    width: 1.5rem;
    height:1.5rem;
    padding: none;
    text-align: center;
}
.deleteButton-text {
    margin:auto;
    font-size: .8rem;
}
