.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.flex-column {
  display:flex;
  flex-direction: column;
  min-width: 25rem;
  max-width: 45rem;
  margin: 1rem;
}



.button {
  font-size: 1.4rem;
  border-radius: .75rem;
  background-color: #002d5d;
  color:white;
  cursor: pointer;
  width: 13rem;
  min-height: 5rem;
  margin: 1rem 2rem;
  padding: 0.5rem;
  border: 1px solid #002d5d;
  transition: border .2s;
}
.button:hover {
  border: 1px solid black;
}
.leg--button {
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 0.75rem;
  background-color: pink;
  max-width: 25rem;
  margin:1rem;
  padding: 0.5rem;
  border: 1px solid black;
  transition: border-color 2s;
}


.button--shadow {
  box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.07);
  transition: box-shadow .2s;
}
.button--shadow:hover {
  box-shadow: 4px 3px 7px rgba(0, 0, 0, 0.97);
}