.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.flex-column {
  display:flex;
  flex-direction: column;
}



.button {
  border-radius: .75rem;
  background-color: green;
  cursor: pointer;
  width: 10rem;
  height: 5rem;
  margin: 1rem 2rem;
  padding: 0.25rem;
}